<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav>

<div class="container">
<div class="row">
  <div class="col-sm-12">
    <div *ngFor="let reading of allReadings">
      <reading [reading]="reading"></reading>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <button (click)="addReadBlock()" type="button" class="btn btn-primary float-right margin-top-ten action">Add</button>
    <button (click)="save()" type="button" class="btn btn-primary float-right margin-top-ten action">Save</button>
  </div>
  <div id="save-success" class="col alert alert-success hidden">
    Saved
  </div>
  <div id="save-failed" class="col alert alert-danger hidden">
    Sorry, an error occured
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3>Summary</h3>
    <div *ngFor="let reading of allReadings">
      <p><strong>Reading {{reading.index}}: </strong>{{reading.instancesOfSearchString.length}} match(es) found</p>
    </div>
    <h3>Total</h3>
    <p>{{totalRead()}} read</p>
    <p>{{totalFound()}} found</p>
  </div>
</div>
</div>